.form {
    background-image: url(src/assets/7-Software-Development-Industry-Career-Options-Laneways.Agency.jpg);
    background-size: cover;
    height: 80vh;
    width: 185vh;
    background-color: none;

}